#section01{display: flex; justify-content: center; margin: 100px auto; align-items: center;}
.section01_text{
    /* position: absolute; top: 38%; left: 20%; */
    display: flex; align-items: flex-start; justify-content: center; flex-direction: column;
}
.section01_text>h1{font-size: 60px; font-weight: 500; letter-spacing: -4px;}
.section01_text>p{font-size: 20px; font-weight: 400; letter-spacing: -1px;}

.catalogue{
    background: #000; width: 180px; height: 45px; 
    line-height: 45px; color: #fff; text-align: center;
    margin-top: 25px;
}


#section_bg{background: #F8F8F8; padding: 100px 0;}

#banner_1,#banner_2{
    display: flex; flex-direction: column; align-content: center; align-items: center;
}
#banner_1{padding-top: 100px;}
.banner_title{font-size: 55px; font-weight: bold; letter-spacing: -2px;}
.banner_subtitle{font-size: 30px; font-weight: 400; letter-spacing: -2px; margin: 10px 0 50px 0;}
.banner_content{font-size: 20px; font-weight: lighter; letter-spacing: 0px; margin-bottom: 100px;}
.banner_line{border-top: 1px solid #333; width: 80%;}

#section02,#section03,#section04{display: flex; justify-content: center; align-items: center; margin: 100px auto;}

/* left */

/* .section_left{display: flex;} */
/*slider*/
.article_slide{width: 325px; height: 374px; position: relative; overflow: hidden;}
.article_slider{width: 200%; height: 374px; position: absolute;}
.article_slider li{float: left; width: 50%; height: 374px; }
.article_slide_img1{
    background: url(../img/T3D_500_1.png) no-repeat center center; background-size: contain;
}
.article_slide_img2{
    background: url(../img/T3D_500_2.png) no-repeat center center; background-size: contain;
}
.article_slide_img3{
    background: url(../img/T3D_500_3.png) no-repeat center center; background-size: contain;
}
.article_slide_img4{
    background: url(../img/T3D_500_1.png) no-repeat center center; background-size: contain;
}
.article_slide_img5{
    background: url(../img/T3D_500_3.png) no-repeat center center; background-size: contain;
}
.article_slide_img6{
    background: url(../img/T3D_500_2.png) no-repeat center center; background-size: contain;
}



.article_util{display: flex; align-items: center; width: 325px; justify-content: center; margin-top: 30px;}
.article_util i:first-child,.article_util i:last-child{font-size: 2em; display: none;}
.article_util i:nth-child(2),.article_util i:nth-child(3){font-size: 0.6em; text-align: center; margin: 0 10px;}


.aside_line{width: 100%; border-top: 1px solid #333; margin: 30px 0;}

/* right */
.section_right{margin-left: 20%;}

/* top */
.aside_top{display: flex; flex-direction: column;}
.aside_titlename{font-size: 24px; font-weight: bold; letter-spacing: -1px;}
.aside_subtitle{margin: 10px 0 0 0; font-weight: 400; font-size: 18px; letter-spacing: -2px;}
.aside_content{font-size: 14px; font-weight: lighter; line-height: 24px;}
.aside_top>.aside_content{letter-spacing: -1.5px;}

/* bottom */
.aside_content>li{float: left; margin-right: 50px;}
.aside_title{font-size: 20px; font-weight: 500; letter-spacing: -1px; margin-top: 20px;}
.aside_content{margin-top: 20px;}
.aside_content3{margin-bottom: 30px;}


/*배너 슬라이더*/
#banner_slider{
    width: 70%;height: auto;
    margin: 100px auto;
    position: relative;
}

.banner_slider_container{
    display: flex;
    width: 100%;
    /* padding: 0 100px; */
    box-sizing: border-box;
    height: 450px;
}
.banner_Boxs{
    flex: 1;
    overflow: hidden;
    /* transition: .5s; */
    margin: 0 0;
    line-height: 0;
    height: 450px;
}
.banner_textBox{
    color: #333;
    position: absolute;
    left: 0;
    top: 110%;
    line-height: 15px;
    z-index: 9999;
    margin-left: 10px;
    opacity: 0;
    /* text-shadow: 2px 2px 6px #000; */
}

.banner_textTitle{font-size: 20px; font-weight: 500;}
.banner_textContent>li{float: left; margin-right: 30px; margin-top: 20px; font-size: 14px; font-weight: normal;}

.banner_Boxs>img{
    width: 200%;
    height: 450px;
    object-fit: contain; 
    transition: 1s;
    opacity: .7;
}
/* .banner_slide_img{width: 200%; height: 524px; transform: .5s; opacity: .7; object-fit: cover;}
.banner_slide_img1{background: url(../img/banner_slidebg_1.png); background-size: cover;}
.banner_slide_img2{background: url(../img/banner_slidebg_2.png); background-size: cover;}
.banner_slide_img3{background: url(../img/banner_slidebg_3.png); background-size: cover;} */


.banner_Boxs:hover{
    flex: 1 1 50%;
}
.banner_Boxs:hover>img{
    width: 80%;
    height: 450px;
    opacity: 1;
}



.circle1{color: red; margin-right: 10px;}
.circle2{color: blue; margin-right: 10px;}
.circle3{color: black; margin-right: 10px;}